[build-system]
# Minimum requirements for the build system to execute.
# see PEP518: https://www.python.org/dev/peps/pep-0518/
requires = [
    "setuptools<0.82"
    ]
build-backend = "setuptools.build_meta"
